@import './variaveis';

#projetos {
    height: 100vh;
    margin-top: 5rem;
    @include flex-center(column, normal);

    #hidehidden-video {
        display: none;
    }

    #projetos-content {
        width: 100%;
        height: 80%;
        border-radius: 15px;
        background-color: $light-purple;
        @include flex-center (row, normal);

        #projetos-texto {
            color: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            img {
                width: 25%;
                margin-bottom: 1rem;
            }

            h3 {
                font-size: 2.5rem;
                margin: 0;
            }

            span {
                font-size: 1.5rem;
                color: $white;
            }

            p {
                margin-top: 1rem;
                margin-bottom: 1rem;
                max-width: 90%;
            }

            button {
                border-radius: 30px;
                font-weight: bold;
                padding: 8px;
                font-size: medium;
                border: none;
                width: 200px;
            }
        }

        #projetos-video {
            @include flex-center(column, center);

            div {
                max-width: 580px;
                max-height: 350px;
                width: 90%;
                height: 60%;

                iframe {
                    border-radius: 15px;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    #projetos #projetos-content {
        width: 100%;
        height: 80%;
        @include flex-center(column, center);

        #projetos-texto {
            width: 100%;
            @include flex-center(column, center);

            div {
                @include flex-center(column, center);
            }

            img {
                width: 20%;
            }

            #hidehidden-video {
                max-width: 580px;
                max-height: 350px;
                width: 90%;
                height: 250px;

                iframe {
                    border-radius: 15px;
                }

            }
        }

        #projetos-video {
            display: none;
        }
    }
}

@media (max-width: 630px) {
    #projetos{
        height: 100%;
    }
}

@media (max-width: 350px) {
    #projetos{
        height: 100%;

        #projetos-texto span {
            font-size: 1rem!important;
        }
    }
}