/*Configurações Gerais*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

.container{
    width: 100%;
    max-width: 1180px;
    margin: auto;
}

.subtitulo{ 
    padding: 10px 0 35px 0;
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}

/*Menu de navegação*/


header{
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
}

header .nav{
    display: flex;
    margin: 0 30px 0 30px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

header li{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}

header a{
    color: black;
    text-decoration: none;
}

header img {
    width: 40px;
    height: 40px;
    background-position: center;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*Banner*/

.banner section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 480px;
}

.banner{
    width: 100%;
    height: 480px;
    background-image: url(img/banner.svg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
}

.banner a{text-decoration: none;}
.banner h1{padding: 100px 0 0 0;}

#btn_banner{
    display: flex;
    justify-content: center;
    width: 100%
}

.btn_banner{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: #FFF;
	transition: all 0.3s;
	position: relative;
    width: 200px;
    height: 40px;
}

.btn_banner span {
	transition: all 0.3s;
    display: flex;
    font-size: 20px;
    align-items: center;
}
.btn_banner::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn_banner:hover span {
	letter-spacing: 2px;
}
.btn_banner:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn_banner::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn_banner:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}


/*Conheça a Onbli*/

#Onbli{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

#Onbli h2{margin: 30px 0 10px 0;}
#Onbli p{margin-bottom: 10px;}
#Onbli div{width: 480px;}


/*Quem somos*/

.sobre{
    background-image: url(img/sobre.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    color: #FFF;
}

.sobre .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.sobre h2{
    padding: 40px 0 30px 0;
    width: 580px;
}

.sobre p{
    width: 580px;
    text-align: justify;
    margin: 0 0 10px 0;
}

#fundadores{
    width: 400px;
    height: 350px;
    color: #000;
    margin-top: 80px;
    background-color: #FFF;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    justify-self: flex-start;
}

#fundadores img{
    width: 400px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*Produtos*/

.produtos{
    background-color: #3C1A7D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23715df2' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%236a39ff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%236652ea' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%237248fc' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%235c49e0' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%237a56f9' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%235341d4' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%238264f7' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%234b3ac8' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238a72f5' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%234a3db2' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23937ff3' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 700px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos h2{
    text-align: center;
    margin: 30px 0 50px 0;
}

#bibliotec{
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#bibliotec a{
    color: #FFF;
    text-align: right;
    margin-right: 10px;
}

#titulo_biblio{
    margin-bottom: 30px;
}

#bibliotec img{
    width: 300px;
    height: 230px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}

#bibliotec .texto{
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    width: fit-content;
    justify-content: center
}

#bibliotec p{
    margin: 2px 0 10px 0;
    text-align: justify;
}


#medusa{
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#medusa a{
    color: #FFF;
    text-align: right;
    margin-right: 10px;
}

#medusa img{
    width: 300px;
    height: 230px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#titulo_med{
    margin-bottom: 30px;
}

#medusa .texto{
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    width: fit-content;
    justify-content: center
}

#medusa p{
    margin: 2px 0 10px 0;
    text-align: justify;
}


/* Contato */

#lilcatec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#CT li{
    color: grey;
    list-style-type: none;
}

#CT a{
    color: grey;
    text-decoration: none;
}

#CT{
    background: #1a1a1a;
}

.contatosob{
    width: 100%;
    display: grid;
    justify-content:left ;
    align-items:left ;
    text-align:left ;

}



.contatosob h2{margin: 30px 0 10px 0; color: white;}
.contatosob p{margin-bottom: 10px; color: white;}
.contatosob  div{width: 480px;}


/* Grid */

main{
  background: #1a1a1a;
  height: 400px;
  grid-column-start: 1;
  grid-column-end: 2;
}

aside{
  height: 400px;
  grid-column-start: 2;
  grid-column-end: 3;
}

form {
    display: flex;
    flex-direction: column;
  }

.containersob{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template: row;
}

.cont li{
    color: #000;
    list-style-type: none;
    padding-bottom: 5px;
}

#asmargin{
    margin-left: 1.2em;  
}

.contatoform{
    width: 100%;
    display: flex;
    justify-content:left ;
    align-items:left ;
    text-align:left ;     
    flex-direction: column;
    justify-content: right;
    align-items: end;
    padding-right: 20px;
}
.contatoform h2{
    text-align: center;
    color: white;
}

#center{
    margin: 30px 100px 20px 0;
}

/* Texto no centro */

#txtCenter{
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.teste{
    width: 500px;
    height: 35px; 
    
}
.teste2{
    width: 500px;
    margin-right: px;
    height: 100px;
}

/* Botão */

#but{
    height: 30px;
    width: 110px;
    margin-left: 210px;
    border-radius: 10px;
}

/* footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    height: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
  }

.local{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.icons{
    padding-right: 20px;
}

.footic img{
    width: 30px; 
    height: 30px;
}